.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.content{
    text-align: center;
    border: 2px solid black;
    color: #ff0010;
    display: inline-block;
    padding: 50px 80px;
    margin: 15px;
    background: url(res/tuman.jpg) repeat-y #fc0;
}

aside{
    margin: 4% 0;
    text-align: left;
    background: #27358e;
    height: 500px;
    width: 300px;
    float: left;
    color: #ffcc00;
}

main{
    padding: 50px 0;
    background: darkgrey;
    height: 460px;
}

header{
    padding: 10px;
    text-align: center;
    background: #5c5cbc;
    color: white;
    font-size: 20px;
}

div {
    display: inline-block;
}

article{
    color: #4CAF50;
    alignment: center;
}

aside h3 {
    color: #5c5cbc;
    text-align: center;
}

aside a{
    text-decoration: none;
    color: #ffcc00;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}